/* [ Efeitos index (homepage) ] ========================================================== */

/* ---------- Pseudo-classes: ---------------------------------------------------------- */
.menu a:hover {
    color: #b38b4d;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #b38b4d;
    padding-left: 5px; 
}

/* ---------- Animações: ------------------------------------------------------------- */
@keyframes carrossel-animado {
    0%, 45% { transform: translateX(0); }
    50%, 95% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

/* [ Efeitos página Contato ] =============================================================*/

/* ---------- Pseudo-elementos: -------------------------------------------------------- */
body::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(196, 178, 154, 0.9);
  z-index: -1;
  position: fixed;

}

*::selection {
    background-color: #ffca7b;
    
}
/* ---------- Pseudo-classes: ---------------------------------------------------------- */
fieldset button:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
    color: #ffca7b;
    cursor: pointer;
    transform: scale(1.02, 1.02);      /*<-- Transformação */
}

fieldset textarea:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
}

fieldset input:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
}

.menu a:hover {
    color: #b38b4d;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #b38b4d;
    padding-left: 5px; 
}

fieldset input:focus, 
fieldset textarea:focus {
    outline: none; 
    border-color:  #C9A96E ; 

}

.Info-de-contato input:user-invalid {
    border: 2px solid rgb(198, 23, 23);
}

 .Info-de-contato input:user-invalid::placeholder {    /*pseudo-classe + pseudo-elemento */
  color: rgb(198, 23, 23);
} 


input[type="radio"]:hover {
  box-shadow: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  accent-color: #662621;
}


/* [Efeitos página de Harmonização ] ===================================================== */

/* ---------- Pseudo-classes: ---------------------------------------------------------- */
.menu a:hover {
    color: #b38b4d;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #b38b4d;
    padding-left: 5px; 
}

/* ---------- Transformações: ---------------------------------------------------------- */

td img {

    transition: transform 0.4s ease;
}

td img:hover {
    transform: scale(1.1) rotate(5deg); 
    cursor: pointer;
}

button:hover {
    transform: rotate(-2deg); 
    transition: 0.2s;
}


/* [ Efeitos página de Produtos ] ======================================================== */

/* ---------- Pseudo-classes: ---------------------------------------------------------- */
.menu a:hover{
    color:#d4af37;
    transition: 0.3s;
}

.produto:hover {
    box-shadow: 0 10px 16px rgba(0,0,0,0.6);
    
}

.produto h4:hover {
    background-color:#F8F3EB;
    color:#b38b4d;
    cursor: pointer;
}

.produto button:hover {
    box-shadow: 0 8px 8px rgba(0,0,0,0.3);
    color: #ffca7b;
    cursor: pointer;
    
}

.footer-section a:hover {
    color: #b38b4d;
    padding-left: 5px; 
}

*::selection {
    background-color: #ffca7b;
    
}
/* ---------- Transformações: ---------------------------------------------------------- */

.produto:hover {
    transform: scale(1.06, 1.06);
}

.produto button:hover {
    transform: scale(1.02, 1.02);
}
/* [ Efeitos página Sobre Nós ] ========================================================*/

/* ---------- Pseudo-classes: ---------------------------------------------------------- */
.menu a:hover{
    color:#d4af37;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #b38b4d;
    padding-left: 5px; 
}

main p:nth-child(even) {
    color: #4a4a4a; /* Um tom de cinza diferente para destacar */
}

/* ---------- Pseudo-elementos: -------------------------------------------------------- */

h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #b38b4d;
    margin-top: 10px;
}

/* ---------- Transformações: ---------------------------------------------------------- */

main img {
    transition: transform 0.5s ease; /* Transição suave */
}

main img:hover {
    transform: scale(1.05); /* Transformação: aumenta 5% */
    cursor: pointer;
}

/* ---------- Animações: ------------------------------------------------------------- */

@keyframes subirConteudo {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

main section {
    animation: subirConteudo 1s ease-out forwards;
}
