@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Mea+Culpa&family=Playfair+Display:ital,wght@0,700;1,400&family=Cormorant+Garamond:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f3eb;
}

.menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: #1a000b;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
}

.menu a:hover {
    color: #b38b4d;
    transition: 0.3s;
}

.logo-topo {
    height: 70px;
    position: absolute;
    left: 20px;
    top: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
    z-index: 100;
}


.carrossel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}


.slides {
    display: flex;
    width: 200%;
    height: 100%;
    animation: carrossel-animado 10s infinite;
}

.slide {
    width: 100%;
    position: relative;
}

.video-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-slide {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-left: 5px solid #b38b4d;
}

@keyframes carrossel-animado {
    0%, 45% { transform: translateX(0); }
    50%, 95% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

.boas-vindas {
    text-align: center;
    padding: 60px 20px;
    background-color: #f8f3eb;
}

.boas-vindas h1 {
    font-family: 'Bodoni Moda', serif; 
    font-size: 2.5rem;
    color: #1a000b;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: #7B1E3A;
}

.boas-vindas p {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #7B1E3A;
}

.container-armazenagem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 5%;
    max-width: 1300px;
    margin: 0 auto;
}

.bloco-esquerda {
    flex: 1; 
    display: flex;
}

.bloco-esquerda img {
    width: 100%;
    max-width: 360px; 
    height: auto;
    border-radius: 10px;
    display: block;
    margin-right: 180px;
    box-shadow: -20px 20px 60px rgba(0,0,0,0.2); 
}

.coluna-texto {
    flex: 1;
    text-align: left; 
}


.eyebrow { 
    font-size: 11px; 
    letter-spacing: 0.2em; 
    text-transform: uppercase; 
    color: #b38b4d; 
    font-family: sans-serif; 
    margin-bottom: 15px; }

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #1a000b;
    line-height: 1.1;
    margin-bottom: 15px;
}

.titulo em {
     font-style: italic; 
     color: #22010f; 
     font-weight: 400; }

.divisor {
    width: 50px;
    height: 2px;
    background: #C9A96E;
    margin: 20px 0;
}

.corpo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    color: #3a2a1e;
    line-height: 1.7;
    margin-bottom: 30px;
}

.detalhe-stats { 
    display: flex;
    gap: 40px;
 }

.stat-item { 
    display: flex;
    flex-direction: column;
 }

.numero {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem; 
    font-weight: 700; 
    color: #1a000b;
 }

.label { 
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    color: #b38b4d; 
    font-family: sans-serif; 
}

.container-clientes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 5%;
    gap: 60px;
    max-width: 1300px;
    margin: 0 auto;
}

.bloco-direita {
    flex: 1.2;
    display: flex;
    justify-content: flex-end; 
}

.bloco-direita img {
    width: 100%;
    max-width: 360px; 
    height: auto;
    border-radius: 10px;
    box-shadow: -20px 20px 60px rgba(0,0,0,0.2); 
}
.footer {
    background-color: #1a000b;
    color: #f8f3eb;
    padding: 80px 5% 20px; /* Mais espaço no topo */
    border-top: 2px solid #b38b4d;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 100px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-footer {
    height: 60px;
    margin-bottom: 20px;
    filter: brightness(0) invert(1); 
}

.footer-section h3 {
    font-family: 'Bodoni Moda', serif;
    color: #b38b4d;
    margin-bottom: 25px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-section ul {
    padding: 0;
}

.footer-section li {
    margin-bottom: 12px;
}

.footer-section a {
    color: #f8f3eb;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.95rem;
}

.footer-section a:hover {
    color: #b38b4d;
    padding-left: 5px; 
}

.footer-text {
    line-height: 1.6;
    font-size: 0.9rem;
    opacity: 0.8;
}

.footer-bottom {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid rgba(179, 139, 77, 0.2);
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
}