* {
    margin: 0;
    padding: 0;
    background-color: #C4B29A ;
}

fieldset {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
}

fieldset legend {
    color: #F8F3EB;
}
fieldset button {
    color: #F8F3EB;
    padding: 5px;
    border-radius: 8px;
    border-color: #662821;
    background-color: #662621;
}

fieldset button:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
    color: #ffca7b;
}

fieldset h2, h3, p, label, input, textarea {
    background-color:#F8F3EB;
}

fieldset h2, h3, p, label {
    color: #662821;
}

fieldset textarea:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
}

fieldset input:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
}

.cabecalho {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #F8F3EB;
    border-radius: 8px;
    background-color:#F8F3EB;
    margin-bottom: 10px;
}


.Info-de-contato {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #F8F3EB;
    border-radius: 8px;
    background-color:#F8F3EB;
    margin-bottom: 10px;

}

.genero {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #F8F3EB;
    border-radius: 8px;
    background-color: #F8F3EB;
    margin-bottom: 10px;
}

.sua-msgm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #F8F3EB;
    border-radius: 8px;
    background-color: #F8F3EB;
    margin-bottom: 20px;

}

textarea {
    width: 600px;
    height: 80px;
    
    
}