@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Mea+Culpa&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #C4B29A ;
}

#prods {
    color: #662821 ;
}
.menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: #1a000b;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Bodoni Moda';
    
}
.menu a:hover{
    color:#d4af37;
    transition: 0.3s;
}

.logo-topo {
    height: 70px; /* Diminuí a logo */
    position: absolute;
    left: 20px; /* Fixa ela no canto esquerdo */
    top: 10px;   /* Ajuste para ela "transbordar" levemente */
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
    z-index: 100;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    column-gap: 1px;
    margin: 0 auto;  
}

.produto:hover {
    box-shadow: 0 10px 16px rgba(0,0,0,0.6);
    
}

.produto button:hover {
    box-shadow: 0 8px 8px rgba(0,0,0,0.3);
    color: #ffca7b;
    
}

.produto p {
    font-size: 17px;
    background-color:#F8F3EB;
    font-family: Arial, Helvetica, sans-serif;
    color: #662821;
    font-weight: 700;
}

.produto {
    max-width: 250px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #F8F3EB;
    border-radius: 12px;
    background-color:#F8F3EB;
}


.produto h4 {
    background-color:#F8F3EB;
    color: #491d18;
}

.produto img {
    display: block;
    margin: 0 auto;

}

.produto button {
    color: #F8F3EB;
    padding: 5px;
    border-radius: 8px;
    border-color: #662821;
    background-color: #662621;
    
}


.bandeira {
    position: relative;
    top: -90px;
    left: -80px;

    width: 20px;
    height: 20px;
    border-radius: 70%;

    border: 2px #B38B4D;

}


